<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta
        name="viewport"
        content="width=device-width, initial-scale=1.0"
    />
    <title>Document</title>
</head>
<body>
<h1><%= title.toUpperCase() %></h1>

<ul>
    <% for (const todo of todos) { %>
    <li>
        <a href="/todos/<%= todo.id %>"><%= todo.title %></a> - <% if (todo.done) { %>
        <a href="/todos/<%= todo.id %>/toggle">Completed</a>
        <a href="/todos/<%= todo.id %>/remove">Remove</a>
        <% } else { %>
        <a href="/todos/<%= todo.id %>/toggle"
        >Not completed</a
        >
        <% } %>
    </li>
    <% } %>
</ul>

<form method="post" action="/todos">
    <label>
        <input name="title" />
    </label>
    <button type="submit">Add todo</button>
</form>
</body>
</html>