<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta
        name="viewport"
        content="width=device-width, initial-scale=1.0"
    />
    <title><%= todo.title %></title>
</head>
<body>
<a href="/">Back</a>
    <div style="margin-top: 20px">
        <%= todo.title %> - <% if (todo.done) { %>
            <a href="/todos/<%= todo.id %>/toggle">Completed</a>
            <a href="/todos/<%= todo.id %>/remove">Remove</a>
        <% } else { %>
            <a href="/todos/<%= todo.id %>/toggle">Not completed</a>
        <% } %>
    </div>

    <div style="margin-top: 40px">
        <h3>Edit title</h3>
        <form method="post" action="/todos/<%= todo.id %>/edit">
            <label>
                <input name="newTitle" />
            </label>
            <button type="submit">Submit</button>
        </form>
    </div>
</body>
</html>